DB_SERVER=10.10.10.60
DB_PORT=1433
DB_NAME=ZKTecoDB
DB_USER=WebDashboardUser
DB_PASSWORD=AdsmDB@Cpstl2026
DB_ENCRYPT=false
DB_TRUST_CERTIFICATE=true

AUTH_DB_SERVER=localhost
AUTH_DB_INSTANCE=SQLEXPRESS
AUTH_DB_NAME=CPSTLPortalDB
AUTH_DB_USER=CPSTLPortalApp
AUTH_DB_PASSWORD="cpstl@2026"
AUTH_DB_ENCRYPT=false
AUTH_DB_TRUST_CERTIFICATE=true

SESSION_COOKIE_NAME=cpstl_session
SESSION_DURATION_HOURS=8
API_PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
NEXT_PUBLIC_ATTENDANCE_API_URL=http://localhost:4000
NODE_ENV=development
